@import 'https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css';
@import 'https://fonts.googleapis.com/css?family=Merriweather+Sans';
@import 'https://fonts.googleapis.com/css?family=Chivo';

// Components
@import 'components/navigation';
@import 'components/round-button';
@import 'components/rounded-button';
@import 'components/view';
@import 'components/drink';
@import 'components/drink-card';
@import 'components/scroller';

// Utilities
@import 'utilities/layout';

// Views
@import 'views/home';
@import 'views/testing';

* {
  box-sizing: border-box;
  cursor: default;
  outline: none;
  text-rendering: optimizeLegibility;
  user-select: none;
}

img {
  pointer-events: none;
}

body {
  font-family: 'Merriweather Sans';

  height: 100vh;
  margin: 0;
}

#app {
  height: 100%;
  transition: .2s ease;
}
