@import "https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css";
@import "https://fonts.googleapis.com/css?family=Cuprum";

@import "components/navigation";
@import "components/navigation-button";

* {
  box-sizing: border-box;
}

:root {
  --theme-color: #F9C22C;
}

body {
  font-family: Cuprum;

  height: 100vh;

  margin: 0;
  padding: 25px;
}

#app {
  height: 100%;
}
