doctype html
html
  head
    title Project Juicy
    link(rel='stylesheet', href='styles.css')
  body
    #app(
        :style='{ "--theme-color": themeColor }'
    )
      .navigation
        .navigation-button(
          :class='{ hidden: backButtonHidden }',
          @mouseup='goBack()'
        )
          .navigation-button-shape
          include icons/navigation-back.svg
        .navigation-filler
        .navigation-button(
          :class='{ hidden: exitButtonHidden }',
          @mouseup='exit()'
        )
          .navigation-button-shape
          include icons/navigation-exit.svg
      .view-container
        .view(:class='{ hidden: view !== "home" }')
          p Home view
        .view(:class='{ hidden: view !== "drink" }')
          p(v-for='drink in drinks') {{ drink.name }}
        .view(:class='{ hidden: view !== "drink" }')
          .drink
            .drink-name(:styles='{ color: currentDrink.color }') {{ currentDrink.name }}
            .drink-description {{ currentDrink.description }}
    script var exports = {};
    script(src='app.js')
