doctype html
html
  head
    title Project Juicy
    link(rel='stylesheet', href='styles.css')
  body
    #app(
        :style='{ "--theme-color": themeColor }'
    )
      .navigation.fixed-top
        .round-button(
          :class='{ hidden: backButtonHidden }',
          @mouseup='goBack()'
        )
          .round-button-shape
          include icons/navigation-back.svg
        .navigation-filler
        .round-button(
          :class='{ hidden: exitButtonHidden }',
          @mouseup='exit()'
        )
          .round-button-shape
          include icons/navigation-exit.svg
      .view-container.fixed-fill
        .view(:class='{ hidden: view !== "home" }')
          button(
            v-for='drink, drinkId in drinks',
            @click='currentDrinkId = drinkId; view = "drink"'
          ) {{ drink.name }}
        .view(:class='{ hidden: view !== "drink" }')
          .drink
            .scroller
              .scroller-overlay
              .scroller-content
                img(:src='`/home/niklas/.juicy/images/drinks/${currentDrink.name.toLowerCase().replace(" ", "-")}.png`').drink-image
                .drink-image-shadow
                .drink-name(:styles='{ color: currentDrink.color }') {{ currentDrink.name }}
                .drink-description {{ currentDrink.description }}
    script var exports = {};
    script(src='app.js')
