doctype html
html
  head
    title Project Juicy
    link(rel='stylesheet', href='styles.css')
  body
    #app(
        :style='{ "--theme-color": themeColor, background: view == "home" ? "#FBFBFB" : "white" }'
    )
      .navigation.fixed-top(:class="{ disabled: backButtonHidden && exitButtonHidden }")
        .round-button(
          :class='{ hidden: backButtonHidden }',
          @mouseup='goBack()'
        )
          .round-button-shape
          include icons/navigation-back.svg
        .navigation-filler
        .round-button(
          :class='{ hidden: exitButtonHidden }',
          @mouseup='exit()'
        )
          .round-button-shape
          include icons/navigation-exit.svg
      .view-container.fixed-fill
        .view.home-view(:class='{ hidden: view !== "home" }')
          .scroller
            .scroller-content
              .drink-card(
                v-for='drink, drinkId in drinks',
                @click='currentDrinkId = drinkId; view = "drink"'
              )
                .drink-card-stripe(:style='{ backgroundColor: drink.color }')
                .drink-card-meta
                  .drink-card-name {{ drink.name }}
                  .drink-card-description {{ drink.description }}
        .view(:class='{ hidden: view !== "drink" }')
          .drink
            .scroller
              .scroller-overlay
              .scroller-content
                img(:src='`/home/niklas/.juicy/images/drinks/${currentDrink.name.toLowerCase().replace(" ", "-")}.png`').drink-image
                .drink-image-shadow
                .drink-name(:styles='{ color: currentDrink.color }') {{ currentDrink.name }}
                .drink-description {{ currentDrink.description }}
            .fixed-bottom.drink-button-container
              .rounded-button
                .rounded-button-label Continue
                .round-button
                  .round-button-shape
                  include icons/navigation-next.svg
    script var exports = {};
    script(src='app.js')
