doctype html
html
  head
    title Project Juicy
    link(rel='stylesheet', href='styles.css')
  body
    #app(
        :style='{ "--theme-color": themeColor }'
    )
      .navigation
        .navigation-button
          .navigation-button-shape
          include icons/navigation-back.svg
        .navigation-filler
        .navigation-button
          .navigation-button-shape
          include icons/navigation-exit.svg
      .view-container
        .view(:class='{ hidden: view !== "home" }')
          p Home view
        .view(:class='{ hidden: view !== "drink" }')
          p(v-for='drink in drinks') {{ drink.name }}
    script var exports = {};
    script(src='app.js')
