doctype html
html
  head
    title Project Juicy
    link(rel='stylesheet', href='styles.css')
  body
    #app
      .navigation
        .navigation-button
          .navigation-button-shape
          include icons/navigation-back.svg
    script var exports = {};
    script(src='app.js')
