doctype html
html
  head
    title Guzzle · Testing Utility
    link(rel='stylesheet', href='styles.css')
  body
    #app.testing-window
      .components
        .component(v-for='(component, componentReference) in components')
          .component-icon.mdi(:class='"mdi-"+component.icon')
          .component-meta
            .component-title {{ component.name }}
            .component-description {{ component.input ? 'Input' : 'Output' }}
          .component-cell
            template(v-if='component.input')
              .component-value(
                tabindex=0,
                v-if='component.input.type === "numeric"',
                @keydown.up='component.value++; update(componentReference)',
                @keydown.down='component.value--; update(componentReference)',
              ) {{ component.value }}{{ component.input.suffix || '' }}
            .component-value(v-else) {{ component.value }}
      span.open-devtools(@click='openDevTools()') Open DevTools
    script var exports = {};
    script(src='testing.js')
