doctype html
html
  head
    title Guzzle · Testing Utility
    link(rel='stylesheet', href='styles.css')
  body
    #app.testing-window
      .components
        .component
          span.component-icon.mdi.mdi-scale
          span.component-label Scale
          .scale-control.component-control
            input.scale-control-value(type='number', min=0, v-model.number='inputs.scaleWeight')
            .scale-control-unit g
        .component(v-for='(valve, valveId) in outputs.valves')
          span.component-icon.mdi.mdi-water
          span.component-label Valve {{ valveId }}
          .valve-control.component-control(:class='{ "valve-control-open": valve.open }') {{ valve.open ? 'Open' : 'Closed' }}
      span.open-devtools(@click='openDevTools()') Open DevTools
    script var exports = {};
    script(src='testing.js')
