.fixed-top,
.fixed-bottom,
.fixed-fill {
  left: 0;
  position: fixed;
  right: 0;
}

.fixed-fill {
  bottom: 0;
  top: 0;
}

.fixed-top {
  top: 0;
}

.fixed-bottom {
  bottom: 0;
}

.grid-padding {
  padding: 25px;
}
