.drink {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;

  > .scroller {
    flex-grow: 1;

    > .scroller-content {
      padding-bottom: 25px;
      padding-top: 100px;
    }
  }

  &-image {
    position: relative;
    z-index: 1;

    &-shadow {
      background: rgba(#000, .3);
      border-radius: 50%;
      filter: blur(15px);
      height: 20px;
      margin: auto;
      margin-bottom: 50px;
      margin-top: -26px;
      width: 150px;
      z-index: 0;
    }
  }

  &-name {
    font-size: 34px;
  }

  &-description {
    color: rgba(#000, .4);
    font-family: Chivo;
    font-size: 16px;
    padding: 0 80px;
  }
}
