.drink-card {
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(#000, .2), 0 2px 1px rgba(#000, .1);
  overflow: hidden;

  &-stripe {
    background-image: linear-gradient(120deg, rgba(#fff, .4) 0%, rgba(#fff, .2) 100%);
    height: 25px;
  }

  &-meta {
    padding: 20px;
  }

  &-name {
    color: rgba(#000, .3);
    font-size: 18px;
  }

  &-description {
    color: rgba(#000, .2);
    font-size: 14px;
  }
}
