.scroller {
  position: relative;

  &-content, &-overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  &-content {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-overlay {
    background: linear-gradient(to bottom, white 0%, transparent 15%, transparent 85%, white 100%);
    pointer-events: none;
  }
}
