.scroller {
  position: relative;

  &-content,
  &-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-content {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-overlay {
    background: linear-gradient(to bottom, #fff 0%, transparent 15%, transparent 85%, #fff 100%);
    pointer-events: none;
  }
}
